/* Styles */
body {
    background-color: #eaeaea;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
.profile {
    display: flex;
    height: 300px;
}
.profile-photo {
    width: 225px;
    background-image: url("./images/viber_image_2022-12-01_21-53-31-984.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.profile-text {
    width: calc(100% - 225px);
    color: black;
    padding: 0 10px;
}
.contact {
    background-color: gray;
}
.languages {
    background-color: #494848;
}
.education {
    background-color: #252525;
}
.hero {
    display: flex;
    background-color: #f8b931;
}
.info {
    display: flex;
}
.info-box {
    padding: 10px;
}
.info-title {
    font-size: 18px;
    font-weight: bold;
}
.info-right {
    color: black;
    padding: 10px;
}
.prof {
    background-color: #b3aeae;
    color: black;
    width: 50%;
    padding: 15px;
}
.name {
    width: 50%;
    padding: 15px;
}
.m-t-0 {
    margin-top: 0;
}